<h1>Lista de productos</h1>

{{#each products}}
  <div style="border:1px solid #ccc; padding:10px; margin:10px;">
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Categoría: {{this.category}}</p>
    <a href="/products/{{this._id}}">Ver detalle</a>
  </div>
{{/each}}

<div>
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}

  <span>Página actual: {{page}}</span>

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>