<h1>Detalle del producto</h1>

<div style="border: 1px solid #ccc; padding: 16px; border-radius: 8px;">
  <h2>{{product.title}}</h2>
  <p><strong>Descripción:</strong> {{product.description}}</p>
  <p><strong>Precio:</strong> ${{product.price}}</p>
  <p><strong>Categoría:</strong> {{product.category}}</p>
  <p><strong>Stock:</strong> {{product.stock}}</p>
  <p><strong>Código:</strong> {{product.code}}</p>
  <p><strong>Disponible:</strong> {{product.status}}</p>

  <div style="display:flex; gap:10px; margin-top:15px;">
    <form action="/api/carts/69b06cf81016715f2184071b/products/{{product._id}}" method="POST">
      <button type="submit">Agregar al carrito</button>
    </form>

    <a href="/carts/69b06cf81016715f2184071b">Ver carrito</a>
  </div>
</div>

<br>

<a href="/products">Volver a productos</a>