<h1>{{product.title}}</h1>
<p>{{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Stock: {{product.stock}}</p>
<p>Categoría: {{product.category}}</p>
<p>Estado: {{product.status}}</p>
<p>Código: {{product.code}}</p>

<a href="/products">Volver</a>